
@{
    ViewBag.Title = "Additional_Tips";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<head>
    <meta charset="utf-8">
    <title>Wizard-v6</title>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        @* Sticky note css *@ ;
        body {
            font-family: arial,sans-serif;
            font-size: 100%;
            margin: 1em;
            background: #666;
            color: #fff;
        }

        head_sticky, para {
            font-size: 100%;
            font-weight: normal;
        }
        .wizard-content {
            margin: 20px;
            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
            -o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
            -ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            -o-border-radius: 10px;
            -ms-border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            font-weight: 400;
            position: relative;
            display: flex;
            display: -webkit-flex;
        }

        ul, li {
            list-style: none;
        }

        ul {
            overflow: hidden;
            padding: 1em;
        }

            ul li alpha {
                text-decoration: none;
                color: #000;
                background: #ffc;
                display: block;
                height: 20em;
                width: 20em;
                padding: 1em;
                padding-bottom: 10px;
                margin-bottom: 40px;
                -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
                -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
                box-shadow: 5px 5px 7px rgba(33,33,33,.7);
                -moz-transition: -moz-transform .15s linear;
                -o-transition: -o-transform .15s linear;
                -webkit-transition: -webkit-transform .15s linear;
            }

            ul li {
                margin: 1em;
                float: left;
            }

                ul li head_sticky {
                    font-size: 140%;
                    font-weight: bold;
                    padding-bottom: 10px;
                }

                ul li p {
                    font-family: "Reenie Beanie",arial,sans-serif;
                    font-size: 180%;
                }

                ul li alpha {
                    -webkit-transform: rotate(-6deg);
                    -o-transform: rotate(-6deg);
                    -moz-transform: rotate(-6deg);
                }

                ul li:nth-child(even) alpha {
                    -o-transform: rotate(4deg);
                    -webkit-transform: rotate(4deg);
                    -moz-transform: rotate(4deg);
                    position: relative;
                    top: 5px;
                    background: #cfc;
                }

                ul li:nth-child(3n) alpha {
                    -o-transform: rotate(-3deg);
                    -webkit-transform: rotate(-3deg);
                    -moz-transform: rotate(-3deg);
                    position: relative;
                    top: -5px;
                    background: #ccf;
                }

                ul li:nth-child(5n) alpha {
                    -o-transform: rotate(5deg);
                    -webkit-transform: rotate(5deg);
                    -moz-transform: rotate(5deg);
                    position: relative;
                    top: -10px;
                }

                ul li alpha:hover, ul li alpha:focus {
                    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
                    -moz-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
                    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
                    -webkit-transform: scale(1.25);
                    -moz-transform: scale(1.25);
                    -o-transform: scale(1.25);
                    position: relative;
                    z-index: 5;
                }

        ol {
            text-align: center;
        }

            ol li {
                display: inline;
                padding-right: 18px;
            }

                ol li alpha {
                    color: #fff;
                    text-align:justify;
                }
        mybox {
            width: 320px;
            padding: 10px;
            border: 5px solid gray;
            margin: 0;
            background-color: #f3a683;
        }



    </style>

</head>




<div class="ftco-blocks-cover-1">

    <div class="site-section-cover overlay facts-banner" data-stellar-background-ratio="0.5">

        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-5 mt-5 pt-5">
                    <span class="text-cursive h5 text-mine">Fun Facts</span>
                    <h1 class="mb-3 font-weight-bold text-teal">More Tips</h1>
                    <p><a href="@Url.Action("Index", "Home")" class="text-white">Home</a> <span class="mx-3">/</span> <strong>Fun Facts</strong></p>
                </div>

            </div>
        </div>
    </div>


</div>


<div class=" container-fluid page-content">
    <div class="container wizard-v6-content">
        <div class="wizard-form">
            <form class="form-register Tips-bg" id="form-register" action="#" method="post">
                <div id="form-total">
                  
                    <div class="inner" style="color:#03c2fc">
                        <h3 style="color:#000000;font-family:sans-serif"><mybox>Useful Facts</mybox></h3>


                        <div style="margin:auto; padding-top:20px;">
                            <ul>
                                <li style="width:30.33%;">
                                    <alpha href="#">
                                        <head_sticky>
                                            What are LED light bulbs?
                                        </head_sticky>
                                    <para>Are you still using regular light bulbs at home? </para><br />
                                    <para>
                                        Try to convince your parents to replace them with LED light bulbs!<br />
                                        Eco-friendly LED light bulbs use far less energy to produce the same light output.
                                    </para>
                                </alpha>
                                </li>

                                <li style="width:30.33%">
                                    <alpha href="#">
                                        <head_sticky>Does Unplugging really make a Difference?</head_sticky>
                                        <para>
                                            <br />
                                            Even though you won't notice the impact of unplugging your appliances immediately,
                                            the energy costs of plugged-in appliances can really add up over time!<br />
                                            It is a relatively simple way to help your parents to save 5% to 10% on their electric bill!

                                        </para>
                                    </alpha>
                                </li>


                                <li style="width:30.33%">
                                    <alpha href="#">
                                        <head_sticky>What to do Before Touching appliances?</head_sticky>
                                        <para>
                                            <br />
                                            Before switching off/unplugging your appliances, you should always remember to dry your hands first.<br />
                                            This is to prevent any chances of electrical shock due to touching them with wet hands.<br />
                                           



                                        </para>
                                    </alpha>
                                </li>

                                <li style="width:30.33%">
                                    <alpha href="#">
                                        <head_sticky>When should I Open/Close the Windows?</head_sticky>
                                        <para>
                                            <br />
                                            It depends on the weather outside.<br />
                                            If there is cool wind outside, you should close all your cooling appliances and
                                            open the windows to let the fresh air come in.<br />
                                            On the other hand, if you have to switch on
                                            as it is too hot, you should close all the windows.

                                        </para>
                                    </alpha>
                                </li>

                                <li style="width:30.33%">
                                    <alpha href="#">
                                        <head_sticky>Microwave, Oven or Stove</head_sticky>
                                        <para>
                                            <br />
                                            If you just want to reheat your food, a microwave is a lot more efficient than the others. Microwave uses about 50% less energy than using an oven.<br />
                                            Besides, you should use appropriate size for the pan to cook with a stove,
                                            as smaller pans and more energy efficient to heat up.


                                        </para>
                                    </alpha>
                                </li>


                                <li style="width:30.33%">
                                    <alpha href="#">
                                        <head_sticky>Highlight Notes</head_sticky>
                                        <para>
                                            <br />
                                            1. A LED bulb do not emits any polluting radiation, hence switch to them. <br />
                                            2. Unplug all devices from wall when not in use.<br />
                                            3. Dry hands before touching any appliances.<br />
                                            4. Reheat food with microwave.<br />
                                            5. Close window depending on weather outside.
                                        </para>
                                    </alpha>
                                </li>

                            </ul>
                        </div>

                        <h3 style="color:#000000;font-family:sans-serif"><mybox>Myths about Global Warming</mybox></h3>


                        <div style="margin:auto; padding-top:20px;">
                            <ul>
                                <li style="width:30.33%">
                                    <alpha href="#">
                                        <head_sticky>
                                            Is Global Warming not REAL?
                                        </head_sticky><br />
                                            <para>
                                                There are people who believe that it doesn’t exist, or will have no impact on Earth.<br />
                                                This is NOT true because the Earth’s average surface temperature has increased.

                                            </para>
</alpha>
                                </li>

                                <li style="width:30.33%">
                                    <alpha href="#">
                                        <head_sticky>
                                            Did HUMANS cause Global Warming?
                                        </head_sticky><br />
                                       
                                        <para>
                                            There are people who believe that humans are not responsible for global warming.<br />
                                            This is NOT true because most scientists agree that today’s global warming is mainly caused by humans putting too much carbon into the atmosphere.

                                        </para>
                                    </alpha>
                                </li>

                                <li style="width:30.33%">
                                    <alpha href="#">
                                        <head_sticky>
                                            Is Global Warming a FUTURE problem?
                                            </head_sticky><br />
                                                <para>
                                                    There are people who believe that it is not an issue that we should pay attention now.<br />
                                                    This is NOT true because we are already experiencing the consequences of global warming.


                                                </para>
</alpha>
                                </li>

                                <li style="width:30.33%">
                                    <alpha href="#">
                                        <head_sticky>
                                            Can cow FARTS cause Global Warming?     </head_sticky><br />
                                                <para>
                                                    It is a myth that cow farts cause global warming.<br />
                                                    Even though it is supported by some research to a certain extent, humans are still the primary cause of global warming.


                                                </para>

</alpha>
                                </li>

                                <li style="width:30.33%">
                                    <alpha href="#">
                                        <head_sticky>
                                            Will animals ADAPT to Global Warming?    
                                        </head_sticky><br />
                                                <para>
                                                    Animals are used to adapt to new environments or move to a new living place.<br />
                                                    However, it is becoming impossible for animals to adapt quickly enough if the speed of global warming is too fast.
                                                </para>
</alpha>
                                </li>


                                <li style="width:30.33%">
                                    <alpha href="#">
                                        <head_sticky>
                                            Am I too YOUNG to contribute?
                                            </head_sticky><br />
                                                <para>
                                                    You are wrong to think that only adults should address the global warming<br />
                                                    Children are the future leader of this planet, they can start playing their role to save electricity at home.<br />
                                                    Encouraging the concept of “think globally, act locally” is the first step that children can do to save our planet.
                                                </para>
</alpha>
                                </li>

                               



                            </ul>
                        </div>
                    </div>




                </div>
            </form>
        </div>
    </div>
    <button id="topBtn" class="topBtn" onclick="topBtn.js"><i class="fas fa-arrow-circle-up"></i></button>

</div>
<div class="site-section py-5 bg-warning">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex">
                <h2 class="text-white m-0" align="centre">Read our Comic Books</h2>

                <a href="@Url.Action("Book_Shelf", "Home")" class="btn btn-primary btn-custom-1 py-3 px-5 ml-auto">Get Started</a>
            </div>
        </div>
    </div>
</div>