
@{
    ViewBag.Title = "Book_Shelf";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<head>

    <link href="~/Content/css/bookshelf.css" rel="stylesheet" />
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap" id="home-section">




        <div class="ftco-blocks-cover-1">
            <div class="site-section-cover overlay books-banner" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center ">
                        <div class="col-md-5 mt-5 pt-5">
                            <span class="text-cursive h5 text-mine">Read Books</span>
                            <h1 class="mb-3 font-weight-bold text-teal">Learn from Reading Books</h1>
                            <p><a href="@Url.Action("Index", "Home")" class="text-white">Home</a> <span class="mx-3">/</span> <strong>Read Books</strong></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>   @* Description of the form *@





        <div class="site-section bg-light bookshelf-bg" id="bookshelf">
            <div class="container" align="center">
                <dl class="bookshelf">




                    <dt class="renewabledevices"><span>Learn about Devices</span></dt>
                    <dd class="renewabledevices">
                        Reading this book you will know about <br> different
                        devices you can use in your daily life.<br />
                        <a class="publisherLink" href="https://online.anyflip.com/dlmaw/ezqv/index.html" target="_blank">
                            Click here to read the book
                        </a>
                    </dd>

                    <dt class="renewableenergy"><span>Types of Renewable Energy</span></dt>
                    <dd class="renewableenergy">
                        Grow your knowledge by learning about different renewable energy resources,<br>
                        that we can use in our day to day life.<br>
                        <a class="publisherLink" href="https://online.anyflip.com/dlmaw/vwgc/index.html" target="_blank">Click here to read the book</a>.
                      
                    </dd>

                    <dt class="globalwarming"><span>Global Warming is Real</span></dt>
                    <dd class="globalwarming">

                        <strong>What is Global Warming</strong> by EcoPathseekers<br>
                        This book will grow your knowledge about global warming,<br>
                        Global warming is one of the major concern learn more about it.<br>
                        <a class="publisherLink" href="https://online.anyflip.com/dlmaw/xbjx/index.html" target="_blank">
                            Click here to read the book
                        </a>
                    </dd>


                </dl>
            </div>
        </div>   @* Form for adding User Info *@


    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script src="~/Scripts/bookshelf.js"></script>
</body>
<div class="site-section py-5 bg-warning">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex">
                <h2 class="text-white m-0" align="centre">Learn more on Electricity with our interactive Tips.</h2>

                <a href="@Url.Action("Tips", "Home")" class="btn btn-primary btn-custom-1 py-3 px-5 ml-auto">Get Started</a>
            </div>
        </div>
    </div>
</div>
