
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap" id="home-section">
        <div class="ftco-blocks-cover-1">

            <div class="site-section-cover overlay">
                <div class="container">
                    <div class="row align-items-center ">
                        <div class="col-md-5 mt-5 pt-5">
                            <span class="text-cursive h5 text-red">Welcome To Our Website</span>
                            <h1 class="mb-3 font-weight-bold text-teal">Make a Greener Community</h1>
                            <p>Learn to Save Electricity at Home</p>
                            <p class="mt-5"><a href="@Url.Action("Tips", "Home")" class="btn btn-primary py-4 btn-custom-1">Learn More</a></p>
                        </div>
                        <div class="col-md-6 ml-auto align-self-end">
                            <img src="~/images/giphy.gif" alt="Image" class="img-fluid">

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>


    <div class="container">

        <div class="row">

            <div class="col-md-6 mb-5">
                <a href="~/images/giphy2.gif" data-fancybox="gal"><img src="~/images/giphy2.gif" alt="Image" class="img-fluid"></a>
            </div>
            <div class="col-md-6 mb-5">
                <p><br></br><br></br></p>
                <span class="text-cursive h2 text-red d-block">
                    Why is Earth important to you & me?<br></br>
                </span>
                <span class="text-cursive h4 text-red d-block">
                    Earth is the perfect place for us to call our home planet.<br></br>
                    It provides us with life & protects us from space!
                </span>
            </div>

        </div>
    </div>



    <div class="container">

        <div class="row">
            <div class="col-md-6 mb-5">
                <p><br></br><br></br><br></br></p>
                <span class="text-cursive h2 text-red d-block">
                    What is <big>Climate change</big> ?<br></br>
                </span>
                <span class="text-cursive h4 text-red d-block">
                    <big>
                        Climate change
                    </big> is the process of our planet heating up !!!</br><br>
                    The main reason of Climate Change is the level of greenhouse gases released into the atmosphere has increased.</br><br>
                    Australia is especially vulnerable due to our overdependence on coal to generate electricity.
                </span>
            </div>
            <div class="col-md-6 mb-5">
                <a href="~/images/homeImage3.jpeg" data-fancybox="gal"><img src="~/images/homeImage3.jpeg" alt="Image" class="img-fluid"></a>
            </div>


        </div>
    </div>


    <div class="container">

        <div class="row">

            <div class="col-md-6 mb-5">
                <a href="~/images/homeImage4.jpeg" data-fancybox="gal"><img src="~/images/homeImage4.jpeg" alt="Image" class="img-fluid"></a>
            </div>
            <div class="col-md-6 mb-5">
                <br></br>
                <span class="text-cursive h2 text-red d-block">
                    Is It Too Late to Save our Planet?<br></br>
                </span>
                <span class="text-cursive h4 text-red d-block">
                    No! Always believe that the future of Earth is yet to be determined.<br></br>

                    Our planet is desperate for YOUR help to make it a better place!<br></br>
                    You can start doing your part by SAVING ELECTRICITY at home!<br></br>

                    Join us in saving electricity in the FUNNEST way it can be!
                    <br></br><br></br><br></br><br></br>
                </span>
            </div>

        </div>
    </div>


</body>

