
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
    <style>
        body {
            margin: 0;
            height: 2000px;
        }

        .icon-bar {
            position: fixed;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

            .icon-bar a {
                display: block;
                text-align: center;
                padding: 16px;
                transition: all 0.3s ease;
                color: white;
                font-size: 20px;
            }

                .icon-bar a:hover {
                    background-color: #000;
                }

        .facebook {
            background: #3B5998;
            color: white;
        }

        .twitter {
            background: #55ACEE;
            color: white;
        }

        .youtube {
            background: #bb0000;
            color: white;
        }

        .content {
            margin-left: 75px;
            font-size: 30px;
        }
    </style>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap" id="home-section">
        <div class="ftco-blocks-cover-1">

            <div class="site-section-cover overlay homepage-banner" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center ">
                        <div class="col-md-5 mt-5 pt-5">
                            <br />
                            <br />
                            <br />
                            <span class="text-cursive h5 text-mine">Welcome To Our Website</span>
                            <h1 class="mb-3 font-weight-bold text-teal" style="font-family:sans-serif">Make a Greener Community</h1>
                            <p>Learn to Save Electricity at Home</p>
                            <p class="mt-5"><a href="@Url.Action("Tips", "Home")" class="btn btn-primary py-4 btn-custom-1">Learn More</a></p>
                        </div>

                        @*<div class="col-md-6 ml-auto align-self-end">
                                <img src="~/images/" alt="Image" class="img-fluid">

                            </div>*@

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="homepage-bg ">

        <div class="icon-bar">
            <a href="https://www.facebook.com/ecossie-kids-107210307777396/" class="facebook"><i class="fab fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.youtube.com/watch?v=G-vX4GHNEuo" class="youtube"><i class="fab fa-youtube"></i></a>
        </div>

        <div class="site-section ">
            <div class="container ">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <span class="text-cursive h5 text-red d-block">Our Features</span>
                        <h2 class="text-white">Improve your knowledge with these...</h2>
                    </div>
                </div>
                <div class=" row">
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="block-2 text-center bg-white-mine">
                            <span class="wrap-icon">
                                <span class=" fas fa-book" style="color: #16c3b0"></span>
                            </span>
                            <h3 class="text-teal">Lets Learn</h3>
                            <p>Boost your knowledge in saving electricity at home by browsing interesting tips and reading comic books.</p>
                            <p><a href="/Home/Tips" class="btn btn-primary btn-custom-1 mt-4">Daily Tips</a></p>
                            <p><a href="/Home/Book_Shelf" class="btn btn-primary btn-custom-1 mt-4">Read Books</a></p>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="block-2 text-center bg-white-mine">
                            <span class="wrap-icon">
                                <span class="fas fa-gamepad" style="color:#71bc42"></span>
                            </span>
                            <h3 class="text-success" style="font-size:24px">Play Games</h3>
                            <p>Test your knowledge and challenge yourself by playing competitive games and quizzes to earn a digital badge.</p>
                            <p><a href="/Home/Quiz" class="btn btn-warning btn-custom-1 mt-4">Play Quiz</a></p>
                            <p><a href="/Home/Image_Game" class="btn btn-warning btn-custom-1 mt-4">Spot Mistakes</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="block-2 text-center bg-white-mine">
                            <span class="wrap-icon">
                                <span class="fas fa-chart-bar" style="color:#dc3545"></span>
                            </span>
                            <h3 class="text-danger" style="font-size:24px">Fun Data</h3>
                            <p>Learn interesting facts and view interactive statistics about climate change and discover more about renewable energy. </p>
                            <p><a href="/Home/Stats" class="btn btn-success btn-custom-1 mt-4">Climate Change</a></p>
                            <p><a href="/Home/RenewableStats" class="btn btn-success btn-custom-1 mt-4">Renewable Energy</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <img src="~/images/Home_Page/why earth.gif" alt="Image" class="img-fluid" />
                </div>
                <div class="col-md-6 mb-5">
                    <img src="~/images/Home_Page/earth_sick.gif" alt="Image" class="img-fluid" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <img src="~/images/Home_Page/effect.png" alt="Image" class="img-fluid" />
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <img src="~/images/Home_Page/too_late.gif" alt="Image" class="img-fluid" />
                </div>
            </div>
        </div>

        <button id="topBtn" class="topBtn" onclick="topBtn.js"><i class="fas fa-arrow-circle-up"></i></button>

    </div>


</body>


<footer class="site-footer  foot-bg ">

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="footer-heading mb-3"></h2>
                <p class="mb-5"> </p>

            </div>
        </div>
    </div>

</footer>