
@{
    ViewBag.Title = "Quiz3";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<style>
    #quizbox {
        position: absolute;
        left: 5%;
        top: 5%;
        background: white;
        bottom: 5%;
        width: 90%;
        height: 90%;
        border: 3px solid #444;
        border-radius: 7px;
        z-index: 10000;
        display: none;
        overflow: auto
    }

    .site-navbar {
        background: transparent;
        margin-bottom: 0px;
        z-index: 1999;
        position: absolute;
        top: 0;
        width: 100%;
        padding: 1rem;
    }
</style>

<title>Quiz</title>
<link rel="stylesheet" type="text/css" href="~/Content/css/jquery.quiz-min.css" />

<div class="ftco-blocks-cover-1">
    <div class="site-section-cover overlay quiz-banner" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-5 mt-5 pt-5">
                    <span class="text-cursive h5 text-mine">Quiz</span>
                    <h1 class="mb-3 font-weight-bold text-teal">Play Quiz</h1>
                    <p><a href="~/Views/Home/Index.cshtml" class="text-white">Home</a> <span class="mx-3">/</span> <strong>Quiz</strong></p>
                </div>

            </div>
        </div>
    </div>
</div>



<div id="jquery-script-menu">
    <div class="jquery-script-center">
        <div class="jquery-script-ads">
            <script type="text/javascript">

            </script>
            <script type="text/javascript"
                    src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
        <div class="jquery-script-clear"></div>
    </div>
</div>



<div id="quizbox">
    <div class="container quiz_container">
        <h1 style="text-align:center;"></h1>
        <div id="quiz">
            @*<div id="quiz-header">
                    <h1>Quiz 1</h1>

                </div>*@
            <header>>Level 3 Quiz</header>
            <div id="quiz-start-screen">
                <p>Check your knowledge for level 3 Quiz.</p>
                <p><a href="#" id="quiz-start-btn" class="quiz-button">START</a></p>

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="~/Scripts/q3.js"></script>
<script>





</script>

<script>

    sessionStorage.setItem("QuizNumber", "3");
    var quizContent = [
        //1
        {
            'q': '<p style="text-align:center;"><img src="https://s1.ax1x.com/2020/10/13/0h2ZAU.png" width="560" height="560" /></p>Have you gone through all / most of the Daily Tips flip cards about things to consider at home?',
            'options': [
                'Yes, I have gone through the Daily Tips flip cards.',
                'No, I have not done it yet'

            ],
            'correctIndex': 0,
            'correctResponse': 'Good Job! You received 3 points for it. From now on, you should try to follow the daily tips to save electricity at home!',
            'incorrectResponse': 'Remember to check out the interesting flip cards on the Daily Tips page to know how to save electricity!'
        },
        //2
        {
            'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/10/13/0h2u9J.png" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/10/13/0h2u9J.png"alt="Image" class="img-fluid"   width="560" height="560"></a></p>Have you printed one / both of the Electricity Saving Challenge to complete the checklist?',
            'options': [
                'Yes, I have printed it and completed the checklist.',
                'No, I have not done it yet.'

            ],
            'correctIndex': 0,
            'correctResponse': 'Good Job! You received 3 points for it. Tag us on Facebook or Instagram after you have completed the checklist.',
            'incorrectResponse': 'Remember to check out the Electricity Saving Challenge and print it to complete the checklist! Tag us on Facebook or Instagram after you have completed the checklist.'
        },
        //3
        {
            'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/10/13/0h2K39.png" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/10/13/0h2K39.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you read the Cause of Global Warming digital book?',
            'options': [
                'Yes, I have read it.',
                'No, I have not read it yet.'

            ],
            'correctIndex': 0,
            'correctResponse': 'Good Job! You received 4 points for it. Now you know what has caused global warming and what is the impact on our environment!',
            'incorrectResponse': 'Remember to check out the Cause of Global Warming digital book to read interesting comics about global warming issues!'
        },
        //4
        {
            'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/10/13/0h2Qj1.png" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/10/13/0h2Qj1.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you read the Renewable Energy book?',
            'options': [
                'Yes, I have read it.',
                'No, I have not read it yet.'
            ],
            'correctIndex': 0,
            'correctResponse': 'Good Job! You received 4 points for it. Now you have more knowledge about the 3 types of renewable energy that can be used for a greener community!',
            'incorrectResponse': 'Remember to check out the Renewable Energy digital book to read interesting comics about renewable energy sources!'
        },
        //5
        {
            'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/10/13/0h2Qj1.png" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/10/13/0h2Qj1.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you read the Green Product book?',
            'options': [
                'Yes, I have read it.',
                'No, I have not read it yet.'
            ],
            'correctIndex': 0,
            'correctResponse': 'Good Job! You received 4 points for it. Now you have more knowledge about what is a green product and how does it benefit our environment!',
            'incorrectResponse': 'Remember to check out the Green Product digital book to read interesting comics about green products!'
        },
        //6
        {
            'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/10/13/0h2t4e.png" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/10/13/0h2t4e.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you played the Spot the Mistakes game for all 3 locations?',
            'options': [
                'Yes, I have played the game.',
                'No, I have not played the game.'
            ],
            'correctIndex': 0,
            'correctResponse': 'Good Job! You received 3 points for it. Hope that you were able to spot all mistakes within the time given!',
            'incorrectResponse': 'Remember to check out the Spot the Mistakes game to test yourself whether you can find all the mistakes for all 3 locations at home!'
        },
        //7
        {
            'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/10/13/0h2DDP.png" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/10/13/0h2DDP.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you played the Catch the Renewable Energy game?',
            'options': [
                'Yes, I have played the game.',
                'No, I have not played the game.'

            ],
            'correctIndex': 0,
            'correctResponse': 'Good Job! You received 3 points for it. Hope you enjoyed the flash game!',
            'incorrectResponse': 'Remember to check out the Catch the Renewable Energy game for a cute and casual flash game!'
        },
        //8
        {
            'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/10/13/0h2rHf.png" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/10/13/0h2rHf.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you read the information which is presented in Climate Change Facts?',
            'options': [
                'Yes, I have read the information. ',
                'No, I have not read it yet.'
            ],
            'correctIndex': 0,
            'correctResponse': 'Good Job! You received 3 points for it. You have viewed many statistics about climate change!',
            'incorrectResponse': 'Remember to check out the Climate Change Facts in Fun Data page to view informative statistics about climate change!'
        }

        ,
        //9
        {
            'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/10/13/0h26US.png" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/10/13/0h26US.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you read the information which is presented in Renewable Energy Facts?',
            'options': [
                'Yes, I have read the information.',
                'No, I have not read it yet.'
            ],
            'correctIndex': 0,
            'correctResponse': 'Good Job! You received 3 points for it. You have viewed many statistics about renewable energy!',
            'incorrectResponse': 'Remember to check out the Renewable Energy Facts in Fun Data page to view informative statistics about renewable energy!'
        }
    ]
    function randomquizContent(array) {
        var j, x, i = 0, len = array.length;
        for (i; i < len; i++) {
            j = Math.floor(Math.random() * len);
            x = array[i];
            array[i] = array[j];
            array[j] = x;
        }
    }
    //randomquizContent(quizContent);
    $('#quiz').quiz({
        //resultsScreen: '#results-screen',
        //counter: false,
        //homeButton: '#custom-home',
        counterFormat: 'Question %current of %total',
        questions: quizContent.slice(0, 9)

    });



</script>



<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<script type="text/javascript">

    $("#quizbox").fadeIn("slow");

    document.getElementById("quiz-start-btn").click();

</script>
@Scripts.Render("~/bundles/jquery")

