
@{
    ViewBag.Title = "Quiz3";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<style>

    #quizbox {
        position: absolute;
        left: 5%;
        top: 5%;
        background: white;
        bottom: 5%;
        width: 90%;
        height: 90%;
        border: 3px solid #444;
        border-radius: 7px;
        z-index: 10000;
        display: none;
        overflow: auto;
        background-image: url(https://s1.ax1x.com/2020/10/16/0bOmrj.png);
        background-repeat: no-repeat;
        background-size: 100%;
        /*background-image: url(https://s1.ax1x.com/2020/10/17/0O8jqf.png);*/
    }

    .site-navbar {
        background: transparent;
        margin-bottom: 0px;
        z-index: 1999;
        position: absolute;
        top: 0;
        width: 100%;
        padding: 1rem;
    }
</style>

<title>Quiz</title>
<link rel="stylesheet" type="text/css" href="~/Content/css/quiz3.css" />

<div class="ftco-blocks-cover-1">
    <div class="site-section-cover overlay quiz-banner" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-5 mt-5 pt-5">
                    <span class="text-cursive h5 text-mine">Quiz</span>
                    <h1 class="mb-3 font-weight-bold text-teal">Play Quiz</h1>
                    <p><a href="~/Views/Home/Index.cshtml" class="text-white">Home</a> <span class="mx-3">/</span> <strong>Quiz</strong></p>
                </div>

            </div>
        </div>
    </div>
</div>



<div id="jquery-script-menu">
    <div class="jquery-script-center">
        <div class="jquery-script-ads">
            <script type="text/javascript">

            </script>
            <script type="text/javascript"
                    src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
        <div class="jquery-script-clear"></div>
    </div>
</div>



<div id="quizbox">
    <div class="container quiz_container">
        <h1 style="text-align:center;"></h1>
        <div id="quiz">
            @*<div id="quiz-header">
                    <h1>Quiz 1</h1>

                </div>*@
            <header>Level 3 Quiz</header>
            <div id="quiz-start-screen">
                <p>Check your knowledge for level 3 Quiz.</p>
                <p><a href="#" id="quiz-start-btn" class="quiz-button">START</a></p>

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="~/Scripts/q3.js"></script>
<script>





</script>

<script>

    sessionStorage.setItem("QuizNumber", "3");
    var quizContent = [
        //1
        {
            'q': '<p style="text-align:center;"><img src="https://i.imgur.com/aFHtwtn.png" width="560" height="560" /></p>Have you gone through all / most of the Daily Tips flip cards about things to consider at home?',
            'options': [
                'Yes, I have gone through the Daily Tips flip cards.',
                'No, I have not done it yet'

            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/18/0Oh7xs.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/6y1CHlg.gif"   width="850" height="450"  /></p>'
        },
        //2
        {
            'q': '<p style="text-align:center;" ><a href="https://i.imgur.com/yk2pN2g.png" data-fancybox="gal"><img src="https://i.imgur.com/yk2pN2g.png"alt="Image" class="img-fluid"   width="560" height="560"></a></p>Have you printed one / both of the Electricity Saving Challenge to complete the checklist?',
            'options': [
                'Yes, I have printed it and completed the checklist.',
                'No, I have not done it yet.'

            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/18/0OhbMn.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/HQEUQej.gif"   width="850" height="450"  /></p>'
        },
        //3
        {
            'q': '<p style="text-align:center;" ><a href="https://i.imgur.com/4sZQaTH.png" data-fancybox="gal"><img src="https://i.imgur.com/4sZQaTH.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you read the Cause of Global Warming digital book?',
            'options': [
                'Yes, I have read it.',
                'No, I have not read it yet.'

            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/j4U2Lzj.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/nkqcEhI.gif"   width="850" height="450"  /></p>'
        },
        //4
        {
            'q': '<p style="text-align:center;" ><a href="https://i.imgur.com/wrnKlZY.png" data-fancybox="gal"><img src="https://i.imgur.com/wrnKlZY.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you read the Renewable Energy book?',
            'options': [
                'Yes, I have read it.',
                'No, I have not read it yet.'
            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/iT43sWN.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/SPnADiw.gif"   width="850" height="450"  /></p>'
        },
        //5
        {
            'q': '<p style="text-align:center;" ><a href="https://i.imgur.com/TKFqzwp.png" data-fancybox="gal"><img src="https://i.imgur.com/TKFqzwp.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you read the Green Product book?',
            'options': [
                'Yes, I have read it.',
                'No, I have not read it yet.'
            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/qWCLjkp.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/mIXsEtV.gif"   width="850" height="450"  /></p>'
        },
        //6
        {
            'q': '<p style="text-align:center;" ><a href="https://i.imgur.com/KVLxc1M.png" data-fancybox="gal"><img src="https://i.imgur.com/KVLxc1M.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you played the Spot the Mistakes game for all 3 locations?',
            'options': [
                'Yes, I have played the game.',
                'No, I have not played the game.'
            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/INkj84r.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/5mpuVJu.gif"   width="850" height="450"  /></p>'
        },
        //7
        {
            'q': '<p style="text-align:center;" ><a href="https://i.imgur.com/a8OeUmq.png" data-fancybox="gal"><img src="https://i.imgur.com/a8OeUmq.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you played the Catch the Renewable Energy game?',
            'options': [
                'Yes, I have played the game.',
                'No, I have not played the game.'

            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/g9Qgk1R.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/Z5X3D0A.gif"   width="850" height="450"  /></p>'
        },
        //8
        {
            'q': '<p style="text-align:center;" ><a href="https://i.imgur.com/ZRBtKa2.png" data-fancybox="gal"><img src="https://i.imgur.com/ZRBtKa2.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you read the information which is presented in Climate Change Facts?',
            'options': [
                'Yes, I have read the information. ',
                'No, I have not read it yet.'
            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/XYd4PBI.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/JKvKQzo.gif"   width="850" height="450"  /></p>'
        }

        ,
        //9
        {
            'q': '<p style="text-align:center;" ><a href="https://i.imgur.com/2lWpgNd.png" data-fancybox="gal"><img src="https://i.imgur.com/2lWpgNd.png"alt="Image" class="img-fluid"  width="560" height="560"></a></p>Have you read the information which is presented in Renewable Energy Facts?',
            'options': [
                'Yes, I have read the information.',
                'No, I have not read it yet.'
            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/DAtJ0Xz.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.imgur.com/r0mnLUs.gif"   width="850" height="450"  /></p>'
        }
    ]
    function randomquizContent(array) {
        var j, x, i = 0, len = array.length;
        for (i; i < len; i++) {
            j = Math.floor(Math.random() * len);
            x = array[i];
            array[i] = array[j];
            array[j] = x;
        }
    }
    //randomquizContent(quizContent);
    $('#quiz').quiz({
        //resultsScreen: '#results-screen',
        //counter: false,
        //homeButton: '#custom-home',
        counterFormat: 'Question %current of %total',
        questions: quizContent.slice(0, 9)

    });



</script>



<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<script type="text/javascript">

    $("#quizbox").fadeIn("slow");

    document.getElementById("quiz-start-btn").click();

</script>
@Scripts.Render("~/bundles/jquery")

