
@{
    ViewBag.Title = "Quiz2";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<title>Quiz</title>
<link rel="stylesheet" type="text/css" href="~/Content/css/jquery.quiz-min.css" />

<div class="ftco-blocks-cover-1">
    <div class="site-section-cover overlay quiz-banner" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-5 mt-5 pt-5">
                    <span class="text-cursive h5 text-mine">Quiz</span>
                    <h1 class="mb-3 font-weight-bold text-teal">Play Quiz</h1>
                    <p><a href="~/Views/Home/Index.cshtml" class="text-white">Home</a> <span class="mx-3">/</span> <strong>Quiz</strong></p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-6 mb-5">

        </div>
        <div class="col-md-6 mb-5">
            <p><br></br><br></br></p>

        </div>

    </div>
</div>

<div id="jquery-script-menu">
    <div class="jquery-script-center">
        <div class="jquery-script-ads">
            <script type="text/javascript">

            </script>
            <script type="text/javascript"
                    src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
        <div class="jquery-script-clear"></div>
    </div>
</div>
<div class="container quiz_container">
    <h1 style="text-align:center;"></h1>
    <div id="quiz">
        @*<div id="quiz-header">
                <h1>Quiz 1</h1>

            </div>*@
        <header>Quiz 2</header>
        <div id="quiz-start-screen">
            <p>Check your knowledge for level 2 Quiz.</p>
            <p><a href="#" id="quiz-start-btn" class="quiz-button">START</a></p>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery.quiz-min.js"></script>
<script>

    $('#quiz').quiz({
        //resultsScreen: '#results-screen',
        //counter: false,
        //homeButton: '#custom-home',
        counterFormat: 'Question %current of %total',
        questions: [
            {
                'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/09/16/wczA3R.gif" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/09/16/wczA3R.gif" alt="Image" class="img-fluid"></a></p>What is the atmosphere to Earth?',
                'options': [
                    'A layer of feathers that keep the life on Earth feel comfy',
                    'A layer of gases that keep the life on Earth warm',
                    'A layer of clouds that keep the life on Earth away from sunlight'

                ],
                'correctIndex': 1,
                'correctResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/6cpyVfNGdWmn4iw.gif"  width="200" height="200"  /></p>CORRECT! The atmosphere is a layer of gases that protects and keeps life on Earth warm. It makes the Earth the perfect planet for humans to live on.',
                'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/6cpyVfNGdWmn4iw.gif"  width="200" height="200"  /></p>Incorrect. The atmosphere is a layer of gases that protects and keeps life on Earth warm. It makes the Earth the perfect planet for humans to live on.'
            },
            {
                'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/09/16/wczEg1.gif" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/09/16/wczEg1.gif" alt="Image" class="img-fluid"></a></p>Greenhouse effect is the process of……',
                'options': [
                    'Greenhouse gases in atmosphere cool down the temperature of Earth',
                    'Atmosphere blocks all the sunlight from hitting the Earth',
                    'Greenhouse gases in atmosphere trap the heat from sunlight'

                ],
                'correctIndex': 2,
                'correctResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/Tei4qv9wCGnKIxg.gif"  width="200" height="200"  /></p>CORRECT! Greenhouse effect is the process of greenhouse gases in the atmosphere trap the heat from sunlight. They let sunlight pass through the atmosphere, but they prevent the heat from sunlight from leaving the atmosphere.',
                'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/Tei4qv9wCGnKIxg.gif"  width="200" height="200"  /></p>Incorrect.  Greenhouse effect is the process of greenhouse gases in the atmosphere trap the heat from sunlight. They let sunlight pass through the atmosphere, but they prevent the heat from sunlight from leaving the atmosphere.'
            },
            {
                'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/09/16/wczMUe.gif" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/09/16/wczMUe.gif" alt="Image" class="img-fluid"></a></p>The reason for Global Warming is due to…',
                'options': [
                    'Over-consumption of non-renewable energy to generate electricity',
                    'Cow farts',
                    'No, Global Warming is not real'

                ],
                'correctIndex': 0,
                'correctResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/zc3sondBAJVMQmk.gif"  width="200" height="200"  /></p>CORRECT! Global warming is a real global issue due to over-consumption of non-renewable energy to generate electricity. There are some myths about the causes of global warming but those are just fictions not facts!',
                'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/zc3sondBAJVMQmk.gif"  width="200" height="200"  /></p>Incorrect. Global warming is a real global issue due to over-consumption of non-renewable energy to generate electricity. There are some myths about the causes of global warming but those are just fictions not facts!'
            },
            {
                'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/09/16/wczYKP.gif" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/09/16/wczYKP.gif" alt="Image" class="img-fluid"></a></p>What are the negative effects of global warming on Earth?',
                'options': [
                    'Sea ice melting',
                    'Wildfires',
                    'Island disappearing',
                    'All of above'
                ],
                'correctIndex': 3,
                'correctResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/I6q1JaomRrYV3kE.gif"  width="200" height="200"  /></p>CORRECT! Sea ice melting, wildfires and island disappearing are all negative effects of global warming due to the extreme hot temperature of Earth.',
                'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/I6q1JaomRrYV3kE.gif"  width="200" height="200"  /></p>Incorrect. All of the above are negative effects of global warming due to the extreme hot temperature of Earth.'
            },
            {
                'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/09/16/wczNb8.gif" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/09/16/wczNb8.gif" alt="Image" class="img-fluid"></a></p>Which is NOT a source of renewable energy?',
                'options': [
                    'Solar',
                    'Wind',
                    'Coal',
                    'Water'
                ],
                'correctIndex': 2,
                'correctResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/qbJuWn72rCjY1GM.gif"  width="200" height="200"  /></p>CORRECT! Coal is not a renewable source. In fact, the over-consumption of coal to generate electricity in Australia has contributed to global warming.',
                'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/qbJuWn72rCjY1GM.gif"  width="200" height="200"  /></p>Incorrect. Coal is not a renewable source. In fact, the over-consumption of coal to generate electricity in Australia has contributed to global warming.'
            },
            {
                'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/09/16/wczw5Q.gif" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/09/16/wczw5Q.gif" alt="Image" class="img-fluid"></a></p>How does Wind Energy generate clean electricity?',
                'options': [
                    'Wind passes over the bottom of wind turbines',
                    'Wind passes over the blades of wind turbines and make it turn ',
                    'Wind passes over the lightbulbs',
                    'Wind passes over the switches'
                ],
                'correctIndex': 1,
                'correctResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/s3gBcmSa9MhkYEj.gif"  width="200" height="200"  /></p>CORRECT! The wind passes by wind turbines and makes its blades to turn so that it can generate clean electricity.',
                'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/s3gBcmSa9MhkYEj.gif"  width="200" height="200"  /></p>Incorrect. The wind passes by wind turbines and makes its blades to turn so that it can generate clean electricity.'
            },
            {
                'q': '<p style="text-align:center;" ><a href="https://s1.ax1x.com/2020/09/16/wczr2n.gif" data-fancybox="gal"><img src="https://s1.ax1x.com/2020/09/16/wczr2n.gif" alt="Image" class="img-fluid"></a></p>How does solar panels use solar energy to make electricity?',
                'options': [
                    'Solar panels have layers of solar cells to collect and store sunlight',
                    'Solar panels block the sunlight from hitting the buildings',
                    'Solar panels turn like turbines when sunlight reaches its surface'

                ],
                'correctIndex': 0,
                'correctResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/4CT2rDJhIgcys6a.gif"  width="200" height="200"  /></p>CORRECT! Solar panels have layers of solar cells to collect and store sunlight. The collected sunlight will then be used to generate clean electricity.',
                'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/4CT2rDJhIgcys6a.gif"  width="200" height="200"  /></p>Incorrect. Solar panels have layers of solar cells to collect and store sunlight. The collected sunlight will then be used to generate clean electricity. Solar panels do not block sunlight and turn like turbines!'
            },
            {
                'q': '<p style="text-align:center;" ><a href="https://ftp.bmp.ovh/imgs/2020/09/5a8d034327b922d2.gif" data-fancybox="gal"><img src="https://ftp.bmp.ovh/imgs/2020/09/5a8d034327b922d2.gif" alt="Image" class="img-fluid"></a></p>Hydropower generation is the use of…',
                'options': [
                    'Water level difference ',
                    'Hydro Turbine',
                    'Water cleaning',
                    'Water level difference and the turn of hydro turbine'
                ],
                'correctIndex': 3,
                'correctResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/coBAgIOeZuHwUGs.gif"  width="200" height="200"  /></p>CORRECT! When the water flows from a high level to lower level, it turns the hydro turbine and generates electricity.',
                'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/coBAgIOeZuHwUGs.gif"  width="200" height="200"  /></p> Incorrect. When the water flows from a high level to lower level, it turns the hydro turbine and generates electricity.'
            }

            ,
            {
                'q': '<p style="text-align:center;" ><a href="https://ftp.bmp.ovh/imgs/2020/09/487b6a63ae17bb65.gif" data-fancybox="gal"><img src="https://ftp.bmp.ovh/imgs/2020/09/487b6a63ae17bb65.gif" alt="Image" class="img-fluid"></a></p>What are the benefits of renewable energy?',
                'options': [
                    'They are sustainable energy source',
                    'They won’t pollute the environment',
                    'Both are correct'
                ],
                'correctIndex': 2,
                'correctResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/axBoWcA2G6MuRtN.gif"  width="200" height="200"  /></p>CORRECT! Renewable energy is sustainable energy and won’t pollute the environment because it does not produce greenhouse gas emission.',
                'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/axBoWcA2G6MuRtN.gif"  width="200" height="200"  /></p>Incorrect. The answer is both. Renewable energy is sustainable energy and won’t pollute the environment because it does not produce greenhouse gas emission.'
            },
            {
                'q': '<p style="text-align:center;" ><a href="https://ftp.bmp.ovh/imgs/2020/09/1485084204cbad2d.gif" data-fancybox="gal"><img src="https://ftp.bmp.ovh/imgs/2020/09/1485084204cbad2d.gif" alt="Image" class="img-fluid"></a></p>What is the renewable energy that can be commonly used at home?',
                'options': [
                    'Solar energy',
                    'Water energy',
                    'Wind Energy'

                ],
                'correctIndex': 0,
                'correctResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/bAw26BM8xzO5GVI.gif"  width="200" height="200"  /></p>CORRECT! Solar energy is commonly used at home by having solar panels on the roof to collect sunlight.',
                'incorrectResponse': '<p style="text-align:center;" ><img src="https://i.loli.net/2020/09/16/bAw26BM8xzO5GVI.gif"  width="200" height="200"  /></p>Incorrect. Solar energy is commonly used at home by having solar panels on the roof to collect sunlight.'
            }
        ]
    });




</script>





<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
@Scripts.Render("~/bundles/jquery")

