
@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<title>Quiz</title>
<link rel="stylesheet" type="text/css" href="~/Content/css/jquery.quiz-min.css" />


<div class="container">

    <div class="row">

        <div class="col-md-6 mb-5">

        </div>
        <div class="col-md-6 mb-5">
            <p><br></br><br></br></p>

        </div>

    </div>
</div>

<div id="jquery-script-menu">
    <div class="jquery-script-center">
        <div class="jquery-script-ads">
            <script type="text/javascript">

            </script>
            <script type="text/javascript"
                    src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
        <div class="jquery-script-clear"></div>
    </div>
</div>
<div class="container quiz_container">
    <h1 style="text-align:center;"></h1>
    <div id="quiz">
        @*<div id="quiz-header">
                <h1>Quiz 1</h1>

            </div>*@
        <header>Quiz 1</header>
        <div id="quiz-start-screen">
            <p>Bushfire is a common natural disaster in Australia. Check your knowledge about the general facts related to bushfire.</p>
            <p><a href="#" id="quiz-start-btn" class="quiz-button">Play Quiz1</a></p>
            <p><a href="/Home/Quiz2" id="quiz2-btn" class="quiz-button">Play Quiz2</a></p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery.quiz-min.js"></script>
<script>

    $('#quiz').quiz({
        //resultsScreen: '#results-screen',
        //counter: false,
        //homeButton: '#custom-home',
        counterFormat: 'Question %current of %total',
        questions: [
            {
                'q': 'It is cool outside and you feel very hot inside, what should you do?',
                'options': [
                    'Open the windows',
                    'Turn on the air-conditioner',
                    'Open the windows and turn on the air-conditioner',
                    'Eat a toast with cheese'

                ],
                'correctIndex': 0,
                'correctResponse': 'CORRECT! Open the windows to let the cool air enter your home. You don’t have to always rely on the air-conditioner!',
                'incorrectResponse': 'Incorrect. You should open the windows to let the cool air enter your home. You don’t have to always rely on the air-conditioner!'
            },
            {
                'q': 'Why is the Earth getting hotter?',
                'options': [
                    'Covid-19',
                    'Sun is getting hotter',
                    'Global Warming',
                    'No reason'
                ],
                'correctIndex': 2,
                'correctResponse': 'CORRECT! The Earth is getting hotter because of global warming, which means the increase in temperature around the world.',
                'incorrectResponse': 'Incorrect. The Earth is getting hotter because of Global Warming, which means the increase in temperature around the world.'
            },
            {
                'q': 'If global warming continues, what will be the results?',
                'options': [
                    'More ice-cream to eat',
                    'Animal extinction',
                    'More islands appear',
                    'More electricity for us to use',
                    'Animal extinction and island disappearing'

                ],
                'correctIndex': 4,
                'correctResponse': 'CORRECT! Global warming will cause animal extinction due to environmental change. It will also cause the island disappearing due to rising sea level!',
                'incorrectResponse': 'Incorrect. Global warming will cause animal extinction due to environmental change. It will also cause islands disappearing due to rising sea level!'
            },
            {
                'q': 'When you leave a room, what should you do?',
                'options': [
                    'Do nothing',
                    'Tidy up your bed',
                    'Turn off the lights only',
                    'Turn off all the electrical appliances in the room'
                ],
                'correctIndex': 3,
                'correctResponse': 'CORRECT! You should turn off all the electrical appliances in the room, not just the lights!',
                'incorrectResponse': 'Incorrect. You should turn off all the electrical appliances in the room, not just the lights!'
            },
            {
                'q': 'What causes Global Warming?',
                'options': [
                    'Reading books',
                    'Using too much electricity',
                    'Playing too much piano',
                    'Playing too much basketball'
                ],
                'correctIndex': 1,
                'correctResponse': 'CORRECT! The major cause of global warming is using too much electricity. Always try to do more fun activities that don’t consume electricity!',
                'incorrectResponse': 'Incorrect. The major cause of global warming is using too much electricity. Doing fun activities that don’t consume electricity will not cause global warming.'
            },
            {
                'q': 'You see the hair dryer is plugged in and no one is using it. What should you do?',
                'options': [
                    'Unplug it',
                    'Play with it like a gun',
                    'Put it in a refrigerator'
                ],
                'correctIndex': 0,
                'correctResponse': 'CORRECT! Hair dryer is one of the most power-hungry products at home. Be sure to unplug it even if the power is not on!',
                'incorrectResponse': 'Incorrect. You should unplug the hair dryer even the power is not on! It is one of the most power-hungry products at home.'
            },
            {
                'q': 'Why should we unplug the table lamps when no one is using it?',
                'options': [
                    'It still costs electricity even when power is not on.',
                    'It looks more tidy',               
                    'Just for fun'
                ],
                'correctIndex': 0,
                'correctResponse': 'CORRECT! If you are able to unplug an electrical appliance, then do it! They still cost electricity even when power is not on.',
                'incorrectResponse': 'Incorrect. If you are able to unplug an electrical appliance, then do it! They still cost electricity even when power is not on.'
            },
            {
                'q': 'You should open the refrigerator door only when you want to...',
                'options': [
                    'Get your food or drink real quick ',
                    'Play with the refrigerator light',
                    'Feel the cool from refrigerator',
                    'Play with the refrigerator door'
                ],
                'correctIndex':0,
                'correctResponse': 'CORRECT! Avoid unnecessarily opening the refrigerator because cold air escapes whenever you open it. It needs to spend electricity to bring the temperature down!',
                'incorrectResponse': 'Incorrect. You should avoid unnecessarily opening the refrigerator because cold air escapes whenever you open it. It needs to spend electricity to bring the temperature down!'
            }

            ,
            {
                'q': 'Why is taking showers better than baths?',
                'options': [
                    'You can sing in the showers',
                    'Baths are for adults',
                    'Showers use less hot water'
                ],
                'correctIndex': 2,
                'correctResponse': 'CORRECT! Hot water is expensive. Shower is better because it uses less electricity to heat up the water.',
                'incorrectResponse': 'Incorrect. Hot water is expensive. Shower is better because it uses less electricity to heat up the water.'
            },
            {
                'q': 'It is daylight outside and you feel too dark inside, what should you do?',
                'options': [
                    'Use the light from TV',
                    'Open the curtain to bring in the natural light',
                    'Open all the ceiling lights',
                    'Use a torch light'

                ],
                'correctIndex': 1,
                'correctResponse': 'CORRECT! Draw up the curtain to bring in the natural light. You won’t even need to switch on lights till sunset comes around!',
                'incorrectResponse': 'Incorrect. Draw up the curtain to bring in the natural light. You won’t even need to switch on lights till sunset comes around!'
            }
        ]
    });




</script>


<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
@Scripts.Render("~/bundles/jquery")

