
@{
    ViewBag.Title = "Quiz2";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<style>
    #quizbox {
        position: absolute;
        left: 5%;
        top: 5%;
        background: white;
        bottom: 5%;
        width: 90%;
        height: 90%;
        border: 3px solid #444;
        border-radius: 7px;
        z-index: 10000;
        display: none;
        overflow: auto;
        background-image: url(https://s1.ax1x.com/2020/10/16/0bOmrj.png);
        background-repeat: no-repeat;
        background-size: 100%;
        /*background-image: url(https://s1.ax1x.com/2020/10/17/0O8jqf.png);*/
    }

    .site-navbar {
        background: transparent;
        margin-bottom: 0px;
        z-index: 1999;
        position: absolute;
        top: 0;
        width: 100%;
        padding: 1rem;
    }
</style>

<title>Quiz</title>
<link rel="stylesheet" type="text/css" href="~/Content/css/jquery.quiz-min.css" />

<div class="ftco-blocks-cover-1">
    <div class="site-section-cover overlay quiz-banner" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-5 mt-5 pt-5">
                    <span class="text-cursive h5 text-mine">Quiz</span>
                    <h1 class="mb-3 font-weight-bold text-teal">Play Quiz</h1>
                    <p><a href="~/Views/Home/Index.cshtml" class="text-white">Home</a> <span class="mx-3">/</span> <strong>Quiz</strong></p>
                </div>

            </div>
        </div>
    </div>
</div>



<div id="jquery-script-menu">
    <div class="jquery-script-center">
        <div class="jquery-script-ads">
            <script type="text/javascript">

            </script>
            <script type="text/javascript"
                    src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
        <div class="jquery-script-clear"></div>
    </div>
</div>



<div id="quizbox">
    <div class="container quiz_container">
        <h1 style="text-align:center;"></h1>
        <div id="quiz">
            @*<div id="quiz-header">
                    <h1>Quiz 1</h1>

                </div>*@
            <header>Level 2 Quiz</header>
            <div id="quiz-start-screen">
                <p>Check your knowledge for level 2 Quiz.</p>
                <p><a href="#" id="quiz-start-btn" class="quiz-button">START</a></p>

            </div>
        </div>
    </div>
</div>
<div style="        width: 50px;
        top:6%;
        right:6%;

        height: 50px;
        z-index: 10001;
        position: absolute;
    "><p><a href="/Home/Quiz/#quiz"><input type="button" value="QUIT"></a></p></div>
<img src="https://s1.ax1x.com/2020/10/17/0L72Xd.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LbpVI.md.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0L7XBn.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LbiPf.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHShT.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LbVMQ.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHC3F.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LbZrj.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHPc4.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0Lbuaq.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHijJ.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LbQiV.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHEH1.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0Lb1RU.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHK3D.md.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LbGM4.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHQjH.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LbJsJ.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LH3DA.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LbYL9.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHt4f.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0Lbwi6.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHfv4.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LbsQe.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LH4KJ.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0OMDsO.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHTV1.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0OMrLD.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHH56.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0OMrLD.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHL8O.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0OM7wQ.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHO2D.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0OMqFs.md.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0LHxrd.md.gif" style="display: none">
<img src="https://s1.ax1x.com/2020/10/17/0OMLYn.gif" style="display: none">

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="~/Scripts/quiz2.js"></script>
<script>





</script>

<script>
    sessionStorage.setItem("QuizNumber", "2");
    var quizContent = [
        //1
        {
            'q': '<p style="text-align:center;"><img src="https://s1.ax1x.com/2020/09/16/wczA3R.gif"  width="360" height="360" /></p>What is the atmosphere to Earth?',
            'options': [
                'A layer of feathers that keep the life on Earth feel comfy',
                'A layer of gases that keep the life on Earth warm',
                'A layer of clouds that keep the life on Earth away from sunlight'

            ],
            'correctIndex': 1,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0L72Xd.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LbpVI.md.gif"   width="850" height="450"  /></p>'
        },
        //2
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/09/16/wczEg1.gif"alt="Image" class="img-fluid"   width="360" height="360"></p>Greenhouse effect is the process of……',
            'options': [
                'Greenhouse gases in atmosphere cool down the temperature of Earth',
                'Atmosphere blocks all the sunlight from hitting the Earth',
                'Greenhouse gases in atmosphere trap the heat from sunlight'

            ],
            'correctIndex': 2,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0L7XBn.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LbiPf.gif"   width="850" height="450"  /></p>'
        },
        //3
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/09/16/wczMUe.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>The reason for Global Warming is due to…',
            'options': [
                'Over-consumption of non-renewable energy to generate electricity',
                'Cow farts',
                'No, Global Warming is not real'

            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHShT.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LbVMQ.gif"   width="850" height="450"  /></p>'
        },
        //4
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/09/16/wczYKP.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>What are the negative effects of global warming on Earth?',
            'options': [

                'Wildfires',
                'Island disappearing',
                'All of above'
            ],
            'correctIndex': 2,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHC3F.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LbZrj.gif"   width="850" height="450"  /></p>'
        },
        //5
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/09/16/wczNb8.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>Which is NOT a source of renewable energy?',
            'options': [
                'Solar',

                'Coal',
                'Water'
            ],
            'correctIndex': 1,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHPc4.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0Lbuaq.gif"   width="850" height="450"  /></p>'
        },
        //6
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/09/16/wczw5Q.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>How does Wind Energy generate clean electricity?',
            'options': [
                'Wind passes over the bottom of wind turbines',
                'Wind passes over the blades of wind turbines and make it turn ',
                'Wind passes over the lightbulbs'
            ],
            'correctIndex': 1,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHijJ.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LbQiV.gif"   width="850" height="450"  /></p>'
        },
        //7
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/09/16/wczr2n.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>How does solar panels use solar energy to make electricity?',
            'options': [
                'Solar panels have layers of solar cells to collect and store sunlight',
                'Solar panels block the sunlight from hitting the buildings',
                'Solar panels turn like turbines when sunlight reaches its surface'

            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHEH1.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0Lb1RU.gif"   width="850" height="450"  /></p>'
        },
        //8
        {
            'q': '<p style="text-align:center;" ><img src="https://ftp.bmp.ovh/imgs/2020/09/5a8d034327b922d2.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>Hydropower generation is the use of…',
            'options': [

                'Hydro Turbine',
                'Water cleaning',
                'Water level difference and the turn of hydro turbine'
            ],
            'correctIndex': 2,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHK3D.md.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LbGM4.gif"   width="850" height="450"  /></p>'
        }
        //9

        ,
        {
            'q': '<p style="text-align:center;" ><img src="https://ftp.bmp.ovh/imgs/2020/09/487b6a63ae17bb65.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>What are the benefits of renewable energy?',
            'options': [
                'They are sustainable energy source',
                'They won’t pollute the environment',
                'Both are correct'
            ],
            'correctIndex': 2,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHQjH.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LbJsJ.gif"   width="850" height="450"  /></p>'
        },
        //10
        {
            'q': '<p style="text-align:center;" ><img src="https://ftp.bmp.ovh/imgs/2020/09/1485084204cbad2d.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>What is the renewable energy that can be commonly used at home?',
            'options': [
                'Solar energy',
                'Water energy',
                'Wind Energy'

            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LH3DA.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LbYL9.gif"   width="850" height="450"  /></p>'
        },


        //11
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/13/0hiYJU.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>What is a Green Product?',
            'options': [
                'Sustainable product that has minimal impact on the environment.',
                'Green painted product that is good for the eyes.',
                'Unsustainable product that has a huge impact on the environment.'

            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHt4f.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0Lbwi6.gif"   width="850" height="450"  /></p>'
        },
        //12
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/13/0hiaQJ.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>The basic goals of Green Products are…',
            'options': [

                'Minimising resource efficiency.',
                'Reducing waste and maximising resource efficiency.',
                'Reducing waste and minimising resource efficiency.'

            ],
            'correctIndex': 1,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHfv4.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LbsQe.gif"   width="850" height="450"  /></p>'
        },

        //13
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/13/0hiBe1.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>Which of the following is true about Green Product?',
            'options': [
                'Green Product increases the use of resources and fossil fuels.',
                'Green Product is made from organic and biodegradable materials.',
                'Green Product has a shorter service life than traditional products.'

            ],
            'correctIndex': 1,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LH4KJ.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0OMDsO.gif"   width="850" height="450"  /></p>'
        },
        //14
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/13/0h14nP.md.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>How do solar water heaters contribute to the environment?',
            'options': [
                'Solar water heaters drive its energy from the sun.',
                'Solar water heaters are not resilient.',
                'Solar water heaters produce more carbon footprint than traditional water heaters.'

            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHTV1.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0OMrLD.gif"   width="850" height="450"  /></p>'
        },
        //15
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/13/0h150f.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>How does a shower timer restrict you from using too much hot water?',
            'options': [
                'Shower timer keeps track of your time spent for showering.',
                'Shower timer senses the temperature of the water.',
                'Shower timer records the amount of water is used.'

            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHH56.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0OMrLD.gif"   width="850" height="450"  /></p>'
        },
        //16
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/13/0h1L1s.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>Which of the following is false about wind energy?',
            'options': [
                'Wind turbines are used to capture kinetic energy from the wind and generate electricity.',
                'Wind is a clean fuel energy source.',

                'None of the above.'

            ],
            'correctIndex': 2,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHL8O.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0OM7wQ.gif"   width="850" height="450"  /></p>'
        },
        //17
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/13/0h1Ocn.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>Which of the following is/are true about solar energy?',
            'options': [
                'Solar is a clean fuel energy source.',
                'Solar energy systems generally require a lot of maintenance.',

                'All of the above'

            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHO2D.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0OMqFs.md.gif"   width="850" height="450"  /></p>'
        },
        //18
        {
            'q': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/13/0h1XXq.gif"alt="Image" class="img-fluid"  width="360" height="360"></p>Which of the following is false about water energy?',
            'options': [

                'SWater is a non-sustainable energy source.',
                'Water energy uses the water level difference to make the hydro turbine turn and generate electricity.',
                'None of the above.'

            ],
            'correctIndex': 0,
            'correctResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0LHxrd.md.gif"   width="850" height="450"  /></p>',
            'incorrectResponse': '<p style="text-align:center;" ><img src="https://s1.ax1x.com/2020/10/17/0OMLYn.gif"   width="850" height="450"  /></p>'
        }
    ]
    function randomquizContent(array) {
        var j, x, i = 0, len = array.length;
        for (i; i < len; i++) {
            j = Math.floor(Math.random() * len);
            x = array[i];
            array[i] = array[j];
            array[j] = x;
        }
    }
    randomquizContent(quizContent);
    $('#quiz').quiz({
        //resultsScreen: '#results-screen',
        //counter: false,
        //homeButton: '#custom-home',
        counterFormat: 'Question %current of %total',
        questions: quizContent.slice(0, 10)

    });



</script>



<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<script type="text/javascript">

    $("#quizbox").fadeIn("slow");

    document.getElementById("quiz-start-btn").click();

</script>
@Scripts.Render("~/bundles/jquery")

