
@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<title>Quiz</title>
<link rel="stylesheet" type="text/css" href="~/Content/css/jquery.quiz-min.css" />


<div class="container">

    <div class="row">

        <div class="col-md-6 mb-5">

        </div>
        <div class="col-md-6 mb-5">
            <p><br></br><br></br></p>

        </div>

    </div>
</div>

<div id="jquery-script-menu">
    <div class="jquery-script-center">
        <div class="jquery-script-ads">
            <script type="text/javascript">

            </script>
            <script type="text/javascript"
                    src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
        <div class="jquery-script-clear"></div>
    </div>
</div>
<div class="container quiz_container">
    <h1 style="text-align:center;"></h1>
    <div id="quiz">
        @*<div id="quiz-header">
                <h1>Quiz 1</h1>

            </div>*@
        <header>Quiz 1</header>
        <div id="quiz-start-screen">
            <p>Bushfire is a common natural disaster in Australia. Check your knowledge about the general facts related to bushfire.</p>
            <p><a href="#" id="quiz-start-btn" class="quiz-button">Play Quiz</a></p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery.quiz-min.js"></script>
<script>

    $('#quiz').quiz({
        //resultsScreen: '#results-screen',
        //counter: false,
        //homeButton: '#custom-home',
        counterFormat: 'Question %current of %total',
        questions: [
            {
                'q': 'Which are the most urgent types of bushfire warnings?',
                'options': [
                    'Bushfire Advice',
                    'Bushfire Emergency',
                    'Bushfire Watch and Act'

                ],
                'correctIndex': 1,
                'correctResponse': 'Correct! Bushfire Emergency is the most urgent level of warning. An Emergency warning means you are in imminent danger and need to take action now. You will be impacted.',
                'incorrectResponse': 'Incorrect. Bushfire Emergency is the most urgent level of warning. A Watch and Act is the second level of warning. A Watch and Act warning means an emergency is heading towards you and conditions are changing and you need to take action now to protect yourself and your family.'
            },
            {
                'q': 'What are some items you should include in your bushfire survival kit?',
                'options': [
                    'Battery-powered or wind-up radio',
                    'Waterproof torch',
                    'Toiletries including soap, hand wash gels, alcohol wipes, toilet paper, tissues, toothpaste and sanitary items',
                    'All of the above'
                ],
                'correctIndex': 3,
                'correctResponse': 'The correct answer is: All of the above! Good thinking. A battery-powered or wind-up radio means you can keep informed of the latest warnings on ABC Local Radio. It should be one part of your survival kit.',
                'incorrectResponse': 'Incorrect response. Correct answer is All of the above!'
            },
            {
                'q': 'If you decide to stay and defend your home, fire agencies recommend how many able-bodied, fit and determined adults as a minimum?',
                'options': [
                    'Two',
                    'Three',
                    'Five'

                ],
                'correctIndex': 0,
                'correctResponse': 'Correct! Fire agencies say defending your home requires at least two able-bodied, fit and determined adults. Both adults need to be sure theyre physically and mentally prepared to work in difficult conditions. But, homes in an area with a Code Red or Catastrophic fire danger rating are difficult to defend, even if well prepared.',
                'incorrectResponse': 'Incorrect, but an extra pair of hands can help. Fire agencies say defending your home requires at least two able-bodied, fit and determined adults. Both adults need to be sure they are physically and mentally prepared to work in difficult conditions. But, homes in an area with a Code Red or Catastrophic fire danger rating are difficult to defend, even if well prepared.'
            },
            {
                'q': 'Who are the people you need to inform about leaving early?',
                'options': [
                    'No one - only me',
                    'Only adults',
                    'Everyone at the house'
                ],
                'correctIndex': 2,
                'correctResponse': 'Correct. For leaving early, you must inform all the members at the house about the plan. Every member should be informed about the leaving date, time and destination.',
                'incorrectResponse': 'Incorrect. For leaving early, you must inform all the members at the house about the plan. Every member should be informed about the leaving date, time and destination. You need to give extra attention to the kids and elder people because they need more support mentally.'
            },
            {
                'q': 'When should you start preparing for your bushfire leaving early plan?',
                'options': [
                    'Around November as temperatures start to rise',
                    'Work out where you’re going on the day',
                    'Well in advance of bushfire season'
                ],
                'correctIndex': 2,
                'correctResponse': 'Correct! Well in advance. Dont wait and see. It is extremely dangerous to leave after there are signs of fire in your area. Come up with a plan to decide when to leave your home, where you will go and how you will get there. You should talk through your emergency plan with your family, as well as write it down. In an emergency you may not have time to plan.',
                'incorrectResponse': 'Incorrect. You should work out your bushfire plan well in advance. Dont wait and see. It is extremely dangerous to leave after there are signs of fire in your area. Come up with a plan to decide when to leave your home, where you will go and how you will get there. You should talk through your emergency plan with your family, as well as write it down. In an emergency you may not have time to plan.'
            },
            {
                'q': 'If someone is suffering from heatstroke due to hot conditions, what should you do?',
                'options': [
                    'Move them to a shaded area',
                    'Try to cool them down',
                    'Call 000',
                    'All of the above'
                ],
                'correctIndex': 3,
                'correctResponse': 'Correct! If someone is affected by heatstroke you should move them to a shaded area and try to cool them down. Call 000 and seek assistance immediately. Radiant heat kills very quickly. The human body cannot absorb large amounts of radiant heat or withstand extremely high temperatures. Radiant heat causes death from heatstroke where the body cooling system fails, leading to heat exhaustion and heart failure.',
                'incorrectResponse': 'Incorrect, but you’re on the right track. If someone is affected by heatstroke you should move them to a shaded area and try to cool them down. Call 000 and seek assistance immediately. Radiant heat kills very quickly. The human body cannot absorb large amounts of radiant heat or withstand extremely high temperatures. Radiant heat causes death from heatstroke where the body cooling system fails, leading to heat exhaustion and heart failure.'
            },
            {
                'q': 'When can an ember attack happen?',
                'options': [
                    'Before the bushfire',
                    'After the bushfire',
                    'During the bushfire',
                    ' All of the above'
                ],
                'correctIndex': 3,
                'correctResponse': 'Correct. Embar attack can happen any time, before, during and after the bushfire. This is the most common way houses catch fire. So, seal your house, clean your garden and backyard for being safe.',
                'incorrectResponse': 'Incorrect. Embar attack can happen any time, before, during and after the bushfire. This is the most common way houses catch fire. So, seal your house, clean your garden and backyard for being safe.'
            },
            {
                'q': 'Protective clothes should not be made of what material?',
                'options': [
                    'Wool ',
                    'Cotton',
                    'Denim',
                    'Synthetics'
                ],
                'correctIndex': 3,
                'correctResponse': 'Correct. Protective clothes should be made from 100% natural fibers like wool, cotton or denim. Must avoid synthetics materials. The clothes should be loose-fitting, covering all exposed skin. ',
                'incorrectResponse': ' Incorrect. Protective clothes should be made from 100% natural fibers like wool, cotton or denim. Must avoid synthetics materials. The clothes should be loose-fitting, covering all exposed skin.'
            }

            ,
            {
                'q': 'If you know someone in an area affected by bushfires but have been unable to get in contact with them, who should you call?',
                'options': [
                    'The closest hospital',
                    'The local council or shire',
                    'The Red Cross',
                    'Local police'
                ],
                'correctIndex': 2,
                'correctResponse': 'Correct!.The National Registration and Inquiry System is coordinated by the Australian Red Cross. If you are worried about the location of friends or family, call them on 1800 727 077 rather than contacting local agencies. If you are in a bushfire-affected area, when you are able you should call your family and friends to let them know you are safe.',
                'incorrectResponse': 'Incorrect. The National Registration and Inquiry System is coordinated by the Australian Red Cross. If you are worried about the location of friends or family, call them on 1800 727 077 rather than contacting local agencies.If you are in a bushfire-affected area, when you are able you should call your family and friends to let them know you are safe.'
            },
            {
                'q': 'Driving during a bushfire is very dangerous and is a last resort. If you get caught on the road, what can you do?',
                'options': [
                    'Drive as fast as you can through the flames',
                    'Wind up windows, close vents, put on your hazard lights and headlights'

                ],
                'correctIndex': 1,
                'correctResponse': 'Correct! If this is not possible, then pull over to the side of the road into a clear area, well away from debris that may ignite. You should also Wind up your car windows, close the vents, put on your hazard lights and headlights, leave the engine running and air conditioning on recirculate. Get down as low as possible below window level and cover up with a woollen blanket until the fire front passes.If you have water, drink it. Get out of the car only once the fire has passed.',
                'incorrectResponse': 'Incorrect! Cars are a very dangerous place to be during a bushfire as they offer very little protection from radiant heat. Driving will take longer than you expect and road conditions can become dangerous. There may be road closures, smoke, fallen trees and embers.'
            }
        ]
    });




</script>
<script>


    $('#quiz2').quiz({
        //resultsScreen: '#results-screen',
        //counter: false,
        //homeButton: '#custom-home',
        counterFormat: 'Question %current of %total',
        questions: [
            {
                'q': 'Quize 2 Which are the most urgent types of bushfire warnings?',
                'options': [
                    'Bushfire Advice',
                    'Bushfire Emergency',
                    'Bushfire Watch and Act'

                ],
                'correctIndex': 1,
                'correctResponse': 'Correct! Bushfire Emergency is the most urgent level of warning. An Emergency warning means you are in imminent danger and need to take action now. You will be impacted.',
                'incorrectResponse': 'Incorrect. Bushfire Emergency is the most urgent level of warning. A Watch and Act is the second level of warning. A Watch and Act warning means an emergency is heading towards you and conditions are changing and you need to take action now to protect yourself and your family.'
            },
            {
                'q': 'What are some items you should include in your bushfire survival kit?',
                'options': [
                    'Battery-powered or wind-up radio',
                    'Waterproof torch',
                    'Toiletries including soap, hand wash gels, alcohol wipes, toilet paper, tissues, toothpaste and sanitary items',
                    'All of the above'
                ],
                'correctIndex': 3,
                'correctResponse': 'The correct answer is: All of the above! Good thinking. A battery-powered or wind-up radio means you can keep informed of the latest warnings on ABC Local Radio. It should be one part of your survival kit.',
                'incorrectResponse': 'Incorrect response. Correct answer is All of the above!'
            },
            {
                'q': 'If you decide to stay and defend your home, fire agencies recommend how many able-bodied, fit and determined adults as a minimum?',
                'options': [
                    'Two',
                    'Three',
                    'Five'

                ],
                'correctIndex': 0,
                'correctResponse': 'Correct! Fire agencies say defending your home requires at least two able-bodied, fit and determined adults. Both adults need to be sure theyre physically and mentally prepared to work in difficult conditions. But, homes in an area with a Code Red or Catastrophic fire danger rating are difficult to defend, even if well prepared.',
                'incorrectResponse': 'Incorrect, but an extra pair of hands can help. Fire agencies say defending your home requires at least two able-bodied, fit and determined adults. Both adults need to be sure they are physically and mentally prepared to work in difficult conditions. But, homes in an area with a Code Red or Catastrophic fire danger rating are difficult to defend, even if well prepared.'
            },
            {
                'q': 'Who are the people you need to inform about leaving early?',
                'options': [
                    'No one - only me',
                    'Only adults',
                    'Everyone at the house'
                ],
                'correctIndex': 2,
                'correctResponse': 'Correct. For leaving early, you must inform all the members at the house about the plan. Every member should be informed about the leaving date, time and destination.',
                'incorrectResponse': 'Incorrect. For leaving early, you must inform all the members at the house about the plan. Every member should be informed about the leaving date, time and destination. You need to give extra attention to the kids and elder people because they need more support mentally.'
            },
            {
                'q': 'When should you start preparing for your bushfire leaving early plan?',
                'options': [
                    'Around November as temperatures start to rise',
                    'Work out where you’re going on the day',
                    'Well in advance of bushfire season'
                ],
                'correctIndex': 2,
                'correctResponse': 'Correct! Well in advance. Dont wait and see. It is extremely dangerous to leave after there are signs of fire in your area. Come up with a plan to decide when to leave your home, where you will go and how you will get there. You should talk through your emergency plan with your family, as well as write it down. In an emergency you may not have time to plan.',
                'incorrectResponse': 'Incorrect. You should work out your bushfire plan well in advance. Dont wait and see. It is extremely dangerous to leave after there are signs of fire in your area. Come up with a plan to decide when to leave your home, where you will go and how you will get there. You should talk through your emergency plan with your family, as well as write it down. In an emergency you may not have time to plan.'
            },
            {
                'q': 'If someone is suffering from heatstroke due to hot conditions, what should you do?',
                'options': [
                    'Move them to a shaded area',
                    'Try to cool them down',
                    'Call 000',
                    'All of the above'
                ],
                'correctIndex': 3,
                'correctResponse': 'Correct! If someone is affected by heatstroke you should move them to a shaded area and try to cool them down. Call 000 and seek assistance immediately. Radiant heat kills very quickly. The human body cannot absorb large amounts of radiant heat or withstand extremely high temperatures. Radiant heat causes death from heatstroke where the body cooling system fails, leading to heat exhaustion and heart failure.',
                'incorrectResponse': 'Incorrect, but you’re on the right track. If someone is affected by heatstroke you should move them to a shaded area and try to cool them down. Call 000 and seek assistance immediately. Radiant heat kills very quickly. The human body cannot absorb large amounts of radiant heat or withstand extremely high temperatures. Radiant heat causes death from heatstroke where the body cooling system fails, leading to heat exhaustion and heart failure.'
            },
            {
                'q': 'When can an ember attack happen?',
                'options': [
                    'Before the bushfire',
                    'After the bushfire',
                    'During the bushfire',
                    ' All of the above'
                ],
                'correctIndex': 3,
                'correctResponse': 'Correct. Embar attack can happen any time, before, during and after the bushfire. This is the most common way houses catch fire. So, seal your house, clean your garden and backyard for being safe.',
                'incorrectResponse': 'Incorrect. Embar attack can happen any time, before, during and after the bushfire. This is the most common way houses catch fire. So, seal your house, clean your garden and backyard for being safe.'
            },
            {
                'q': 'Protective clothes should not be made of what material?',
                'options': [
                    'Wool ',
                    'Cotton',
                    'Denim',
                    'Synthetics'
                ],
                'correctIndex': 3,
                'correctResponse': 'Correct. Protective clothes should be made from 100% natural fibers like wool, cotton or denim. Must avoid synthetics materials. The clothes should be loose-fitting, covering all exposed skin. ',
                'incorrectResponse': ' Incorrect. Protective clothes should be made from 100% natural fibers like wool, cotton or denim. Must avoid synthetics materials. The clothes should be loose-fitting, covering all exposed skin.'
            }

            ,
            {
                'q': 'If you know someone in an area affected by bushfires but have been unable to get in contact with them, who should you call?',
                'options': [
                    'The closest hospital',
                    'The local council or shire',
                    'The Red Cross',
                    'Local police'
                ],
                'correctIndex': 2,
                'correctResponse': 'Correct!.The National Registration and Inquiry System is coordinated by the Australian Red Cross. If you are worried about the location of friends or family, call them on 1800 727 077 rather than contacting local agencies. If you are in a bushfire-affected area, when you are able you should call your family and friends to let them know you are safe.',
                'incorrectResponse': 'Incorrect. The National Registration and Inquiry System is coordinated by the Australian Red Cross. If you are worried about the location of friends or family, call them on 1800 727 077 rather than contacting local agencies.If you are in a bushfire-affected area, when you are able you should call your family and friends to let them know you are safe.'
            },
            {
                'q': 'Driving during a bushfire is very dangerous and is a last resort. If you get caught on the road, what can you do?',
                'options': [
                    'Drive as fast as you can through the flames',
                    'Wind up windows, close vents, put on your hazard lights and headlights'

                ],
                'correctIndex': 1,
                'correctResponse': 'Correct! If this is not possible, then pull over to the side of the road into a clear area, well away from debris that may ignite. You should also Wind up your car windows, close the vents, put on your hazard lights and headlights, leave the engine running and air conditioning on recirculate. Get down as low as possible below window level and cover up with a woollen blanket until the fire front passes.If you have water, drink it. Get out of the car only once the fire has passed.',
                'incorrectResponse': 'Incorrect! Cars are a very dangerous place to be during a bushfire as they offer very little protection from radiant heat. Driving will take longer than you expect and road conditions can become dangerous. There may be road closures, smoke, fallen trees and embers.'
            }
        ]
    });
</script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
@Scripts.Render("~/bundles/jquery")

