
@{
    ViewBag.Title = "RenewableGame";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap" id="home-section">




        <div class="ftco-blocks-cover-1">
            <div class="site-section-cover overlay catch-banner" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center ">
                        <div class="col-md-5 mt-5 pt-5">
                            <span class="text-cursive h5 text-mine">Catch Game</span>
                            <h1 class="mb-3 font-weight-bold text-teal"> Catch Renewable Energy</h1>
                            <p><a href="~/Views/Home/Index.cshtml" class="text-white">Home</a> <span class="mx-3">/</span> <strong>Catch Game</strong></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>   @* Description of the form *@


        <div class="site-section renewable_bg stats-content" id="contact-section">
            <div class="container" >
                <iframe src="https://scratch.mit.edu/projects/437721442/embed" align="middle" allowtransparency="true" width="1030" height="755" frameborder="0" scrolling="no" allowfullscreen></iframe>
            </div>
        </div>   @* Form for adding User Info *@


    </div>
    <button id="topBtn" class="topBtn" onclick="topBtn.js"><i class="fas fa-arrow-circle-up"></i></button>

</body>
<div class="site-section py-5 bg-warning">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex">
                <h2 class="text-white m-0" align="centre">Spot the mistakes in the Image.</h2>
                 <a href="@Url.Action("Image_Game", "Home")" class="btn btn-primary btn-custom-1 py-3 px-5 ml-auto">Get Started</a>
            </div>
        </div>
    </div>
</div>